
body {
    background-color:rgb(61, 61, 61);
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    width: 30vw;
  }
  .dropdown{
    margin: 1em;
    width: 30vw;
  }

  .dropdown h3{
    list-style: none;
    width: 100%;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    color: rgb(10, 10, 10);
    background-color: rgba(252, 211, 110, 0.445);
    border-radius: 7px;

  }

  .dropdown h3 label{
    display:flex;
    flex-direction: column;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
  }
  h5{
    font-size: 15px;
    color: rgb(73, 67, 15);
    margin: 0;
    padding: 0%;
  }

  input[type="checkbox"]{
    display: none;
  }
  .dropdown .content{
    color: beige;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s, padding .5s;
    font-size: small;
  }

  .dropdown input:checked + label + .content {
    max-height: 75vh;
    padding: 10px 10px 20px;


  }
  
.title{
    background: linear-gradient(135deg, rgba(7, 7, 7, 0.856),rgba(255,255,255,0%));
    height: 90vh;
    width: 100%;
    padding: 30px;
    margin: 0px;
    color: rgb(170, 162, 89);
    font-size: 45px;
    float: left;
    margin-bottom: -85vh;
    

}