body {
    background-image: url(finals_soccer.jpg);
    background-repeat: no-repeat;
    background-size: contain ;
    height: 100vh;
    width: 100vw;
}

section {
    width: 16em;
    height: 3em;
    margin: 2em ;
    background-color: rgb(87, 117, 216);
    border: 0.2em solid rgb(238, 224, 103);
    border-radius: .5em;
}
h3{
margin:0em 4em 0em 4em;
height: fit-content;
color: blanchedalmond;
}
.textcountry{
    width: fit-content;
    margin: 1em 1em 1em 1em;

    color: blanchedalmond;
    

}

.score  {   
    width: 1.5em;
    color: black;
    background-color:beige;
    border-radius: .5em;


}