
body {
    background-color:rgb(119, 115, 90);
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-column-gap: 10px;
    width: 95%;
    margin: 0;

  }
  .dropdown{
    margin: 1em;
    width: 29.5vw;
  }

  .dropdown article{
    list-style: none;
    width: 100%;
    margin: 5px;
    padding: 10px;
    color: rgb(10, 10, 10);
    background-color: rgba(252, 200, 70, 0.445);
    border-radius: 7px;

  }

  .dropdown article label{
    display:flex;
    flex-direction: column;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: solid rgb(90, 69, 1);
  }
  span{
    display: block;    
    font-size: 15px;
    color: rgb(44, 40, 3);
    margin: 0;
    padding: 0%;
  }

  input[type="checkbox"]{
    display: none;
  }
  .dropdown .content{
    color: rgb(2, 1, 0);
    padding: 0 10px;
    line-height: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s, padding .5s;
    font-size: small;
  }

  .dropdown input:checked + label + .content {
    max-height: 75vh;
    padding: 10px 10px 20px;
  }
  
  .title{
    background: linear-gradient(135deg, rgba(7, 7, 7, 0.856),rgba(255,255,255,0%));
    width: auto;
    padding: 28px;
    margin: 0;
    font-size: 50px;
    position: sticky;
    top: -1px;
    transition: color .5s;

  }
  .title a{
    text-decoration: none;
    color: rgb(170, 162, 89);
  }
  .title:hover{
    background: linear-gradient(135deg,rgba(110, 97, 35, 0.733),rgba(255,255,255,25%));
    color: rgb(46, 43, 15);

  }
  .sbackground{
    display: flex;
    background-image: url(violins.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    width: 100%;
    height: 70vh;
    align-items: center;
  }
  .stitle{
    width: fit-content;
  }
  .stitle .dropdown{
    display: flex;
    flex-direction: column;
    margin: 0em 24em 0em 24em;
    padding: 1em;
    width: 40vw;
    height: auto;
    padding-top: 1em;
    max-height: 50vh;
    text-align: center;
    border: solid black;
    text-align: center;
    background-color: rgba(7, 7, 7, 0.781);
    border-radius: 35px;
   

  }
  .stitle .dropdown label{

  font-size: 55px;
  padding: 30px ;
  border-radius: 5px;
  border-bottom: solid rgb(90, 86, 50);
  color: rgb(214, 216, 186);

  }
  .stitle .dropdown .content{
    flex-direction: column;
    display: flex;
    font-size: 14px;
    line-height: 17px; 
    color: rgb(214, 216, 180); 
    }
  nav {
    background-color:rgb(65, 62, 49);
    padding: 2em;
    top:0;
    width:auto ;
  }
    
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;    
    display: flex;
    justify-content: space-around;
    font-size: 20px;

  }
    
  nav a {
    color: rgb(170, 162, 89);
    text-decoration: none;
    padding: .5em 1em;
  } 
  @media screen and (max-width: 500px){
    
    .grid {
      grid-column: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .dropdown {
      width: 90%;
    }
    .title{
      width: auto;
      font-size: 28px;
      position: sticky;
    }

    .stitle .dropdown{
      margin:0 5em 0 5em ;
      width: 15em;
      height: auto;
    }

    
    .stitle .dropdown label{
      font-size: 25px;
    }
    nav{
      width: auto;
    }
    nav ul{
      font-size: 14px;
     }


    
  }